<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_pending_payment_report_root"
              name="Pending Payment Report"
              parent="account.menu_finance_reports"
              sequence="50"/>
    <menuitem id="menu_pending_payment_report_wizard"
              name="Pending Payment Report"
              parent="menu_pending_payment_report_root"
              action="action_pending_payment_report_wizard"
              sequence="10"/>
    <menuitem id="menu_advance_pending_payment_report_wizard"
              name="Advance Pending Payment Report"
              parent="menu_pending_payment_report_root"
              action="action_advance_pending_payment_report_wizard"
              sequence="20"/>
</odoo>
