<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem
        id="menu_stock_card_root"
        name="Stock Card Report"
        parent="stock.menu_warehouse_report"
        action="action_stock_card_wizard"
        sequence="50"
        groups="inventory_stock_card_report.inventory_stock_card_report_group_user"
    />
</odoo>
